@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


li, .button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header a:hover{
    border: 1px solid #edf0f1;
    padding: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: #194A21;
    width: 100%;
}
header nav,.logo{
    padding: 0 30px;
}

main{
    padding-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

h2{
    font-size: 50px;
    text-align: center;
    padding-bottom: 25px;
}
h2, main p{
    line-height: 30px;
}
main p{
    font-weight: 500;
}
#calc{
    height: 250px;
    width: 250px;
    padding: 15px;
}

footer{
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #194A21;
    width: 100%;
}
