@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
    font-family: "Montserrat", sans-serif;
}
body{
    background: url("../img/Ariadne\ BG\ Home.png")no-repeat center center/cover;
}
.logo{background-color:#003C00;cursor: pointer;}
.logo a:hover{
    border: none;
    padding: 0;
}
.topnav {
  overflow: hidden;
  background-color:#005000;
}

.topnav a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.topnav a:hover {
    background-color:#003C00;
    border: 1px solid #edf0f1;
    padding: 5px;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
.topnav.responsive {position: relative; padding-bottom: 50px;}
.topnav.responsive .icon {
    float: right;
    top: 145px;
 }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 3px 0px;
    margin-top: 5px;
  }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
<<<<<<< Updated upstream
=======

header a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header a:hover{
    border: 1px solid #edf0f1;
    padding: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #003C00;
>>>>>>> Stashed changes
    
}
main{
    /* display: flex; */
    padding-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}
.button {
    padding: 10px 30px;
    background-color: #053f05;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    text-decoration-line: none;
}
.button:hover{padding: 12px 32px;}
#bt1{
    background-color: gold;
    color: black;
}
<<<<<<< Updated upstream
=======
#bt1{
    background-color: gold;
    color: black;
}
>>>>>>> Stashed changes
button:hover {
    background-color: #053f05;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.showcase h1{
    width: 50%;
    font-size: 60px;
    text-align: start;
    color: #fff;
    margin-top: 5%;
    text-shadow: 5px 5px 5px black;
}

.showcase p{
    font-size: 18px;
    text-align: start;
    color: #053f05;
    font-weight: 700;
    font-family: Arial;
    text-shadow: 2px 2px 3px grey;
    padding-top: 7px;
    color: black;
<<<<<<< Updated upstream
    margin-top: 20px;
    font-weight: 700;
    font-family: Arial;
    text-shadow: 4px 4px 5px grey;
    line-height: 1.5em;
    width: 60%;
=======
    font-weight: 700;
    font-family: Arial;
    text-shadow: 3px 3px 5px grey;
    line-height: 1.5em;
>>>>>>> Stashed changes
}
.showcase-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (max-width: 768px){
    .showcase h1{width: 100%;}
    .showcase p{width: 90%;}
}
footer{
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top:10%; 
}
