@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
    font-family: "Montserrat", sans-serif;
}
body{
    background: url("../img/Ariadne\ BG\ Home.png")no-repeat center center/cover;
}

li, .button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header a:hover{
    border: 1px solid #edf0f1;
    padding: 5px;
}
.logo a:hover{
    border: none;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #003C00;
    
}

main{
    /* display: flex; */
    padding-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.button {
    padding: 10px 30px;
    background-color: #053f05;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}
#bt1{
    background-color: gold;
    color: black;
}
button:hover {
    background-color: #053f05;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.showcase h1{
    font-size: 60px;
    text-align: start;
    color: #fff;
    text-shadow: 5px 5px 5px black;
}

.showcase p{
    font-size: 15px;
    text-align: start;
    padding-top: 10px;
    color: #053f05;
    font-weight: 700;
    font-family: Arial;
    text-shadow: 2px 2px 3px grey;
    line-height: 1.5em;
}
.showcase-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
footer{
    text-align: center;
    padding: 20px;
    color: #fff;
}
