@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {box-sizing: border-box;}
body {
	color: white;
	background-image: url("https://res.cloudinary.com/awesocode/image/upload/v1569269275/Team%20Ariadne%27s%20Task%20Files/tvefucfi6wgtghli90qn.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: Montserrat;
}
.logo li{
	list-style-type: none;
}
header a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header a:hover{
    border: 1px solid #edf0f1;
    padding: 5px;
    color: #edf0f1;
    text-decoration: none;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(0, 46, 4, 0.57);
}
.logo {
    cursor: pointer;
    margin-left: -30px;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

table{width: 60%; margin-left: 5px;}
table, thead, th, #tbody, #tbody td{padding-right: 5px;}
#bg {background-color:#003C00; width: 60%; margin-left: 40%; border-radius: 7px;}
.content h2{
	margin-left: 35%;
	margin-top: 40px;
	text-align: center;
	font-weight: bolder;
	text-shadow: 5px 5px 5px black;
}
.content p{
	text-align: center;
	color:#B0B0B0;
	margin-top: 5px;
	margin-left: 5%;
}
#tbody td input[type=text]{
	border-radius: 3px;
}
#addItem{
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 3px;
}
aside ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding: 0px 30px 
}
.footer p{
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top: 15%;
}
