
  body {
	color:black;
	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    font-weight: bolder;
}
.active{
  border: 1px solid white;
}
.topnav{
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -50px;
  background-color: green;
}
.topnav a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
  }
  .topnav a:hover{
      background-color: green;
  }
  footer{
  margin-top: 20px;
  background-color: green;
  align-content:center;
  }
  h1{
    color:#000;
    font-weight: bolder;
    border-radius: 24px;
    font-size: 4em;
  }
  ul {
      font-size: 25px;
      font-weight: normal;
  }
  .first{
      font-size:2em;
  }

  @media only screen and (max-width:800px) {
    /*For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }